.tape-etp1{
background-color:#f8400f;
}

.tape-etp2{
background-color:#f8920f;
}

.tape-etp3{
background-color:#ffff64;
}

.tape-etp4{
background-color:#339933;
}

.tape-etp5{
background-color:#3366ff;
}

.tape-etp6{
background-color:#6600ff;
}

.label-etp1{
 width:250px;
}

.label-etp2{
width:250px;
}

.label-etp3{
width:250px;
}

.label-etp4{
width:250px;
}

.label-etp5{
width:250px;
}

.label-etp6{
width:250px;
}

.text{
width:250%;
color:#000;
}
